<h3>Quản lý nhóm</h3>
<hr />
<div class="flex flex-row gap-5 justify-content-center">
  <div class="w-full flex flex-wrap  align-items-end row">
    <div class="packing-search col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 flex flex-column">
      <h6>Tên nhóm</h6>
      <input pInputText [(ngModel)]="formSearch.keyword" type="text" placeholder="Nhập tìm kiếm ..."
        id="example-search-input" (keyup.enter)="getList()" />
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
      <h6>Mã Ngành hàng</h6>
      <p-dropdown [options]="product_categories" [(ngModel)]="formSearch.category_id" (onChange)="selectStall()"
        [showClear]="true" placeholder="" filter="true">
      </p-dropdown>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
      <h6>Mã gian hàng</h6>
      <p-dropdown [options]="product_stalls" [(ngModel)]="formSearch.stalls_id" (onChange)="getList()"
        [showClear]="true" placeholder="chọn mã gian hàng" filter="true">
      </p-dropdown>
    </div>
    <div class="col-lg-6 col-md-4 col-sm-12 col-xxl-3 flex justify-content-end">
      <button pButton pRipple type="button" label="Tìm kiếm" (click)="getList()"
        class="p-button-outlined p-button-rounded p-button-sm" style="width: 6rem"></button>
    </div>
  </div>
</div>
<div class="flex flex-row gap-5 justify-content-between align-items-center pt-3">
  <div class="packing-name-table">
    <h5 class="m-0" style="font-size: 1.1rem">Danh sách nhóm</h5>
  </div>
  <div style="padding-right: 0.7rem">
    <button pButton pRipple type="button" label="Thêm" class="p-button-sm p-button-success packing-button-plus-mobile"
      (click)="openCreateStallsModal(null, 0)" style="width: 6rem"></button>
  </div>
</div>

<div class="packing-table pt-1">
  <p-table responsiveLayout="scroll" [value]="categoryGroup" styleClass="">
    <ng-template pTemplate="header">
      <tr>
        <th class="">STT</th>
        <th class="">
          Tên nhóm
        </th>
        <th class="">Mã nhóm</th>     
        <th class="">Hành Động</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
      <tr>
        <td scope="">{{ i + 1 }}</td>
        <td>
          {{ item.name }}
        </td>
        <td>
          {{ item.code }}
        </td>           
        <td _ngcontent-qnv-c278="" class="text-truncate">
          <i class="pi pi-pencil" pTooltip="Chỉnh sửa phiếu" tooltipPosition="bottom" [showDelay]="1000"
            style="color: rgb(40, 122, 209); margin-right: 10px"
            (click)="openCreateStallsModal(item, indexOfelement)"></i>
          <i class="pi pi-trash" pTooltip="Xoá" tooltipPosition="bottom" [showDelay]="1000"
            style="color: rgb(217, 37, 37); margin-right: 10px" (click)="deleteCategoryStalls(item)"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div class="row">
  <pagination [totalItems]="totalRows" [maxSize]="5" [itemsPerPage]="page_size" class="pagination-sm"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [boundaryLinks]="true"
    (pageChanged)="onChangedPage($event)" class="pull-right center" style="margin-top: 10px"></pagination>
</div>