<h3>
    Cập nhật sản phẩm combo 
</h3>
<hr />
<div class="grid align-items-end">
    <div class="col-4">
        <h6>Tên sản phẩm</h6>
        <input type="text" pInputText [(ngModel)]="item.name" />
    </div>
    <div class="col-4">
        <h6>Ngành hàng</h6>
        <p-dropdown [options]="industry" [(ngModel)]="item.category_code" placeholder="Chọn ngành hàng"
            [showClear]="true" filter="true"></p-dropdown>
    </div>
    <div class="col-4">
        <h6>Barcode</h6>
        <input type="text" placeholder="Nhập mã barcode" pInputText [(ngModel)]="item.barcode"
            (keypress)="numberOnly($event)" />
    </div>
    <div class="col-4">
        <h6>Đơn vị *</h6>
        <p-dropdown [options]="units" [(ngModel)]="item.unit_code" placeholder="Chọn đơn vị" [showClear]="true"
            filter="true"></p-dropdown>
    </div>
    <div class="col-4">
        <h6>Quy cách đóng gói *</h6>
        <p-dropdown [options]="packings" [(ngModel)]="item.packing_code" placeholder="Chọn kiểu đóng gói"
            [showClear]="true" filter="true"></p-dropdown>
    </div>
    <div class="col-4">
        <h6>Giá bán</h6>
        <p-inputNumber class="w-full" [(ngModel)]="item.price" mode="decimal" placeholder="Giá bán"
            [minFractionDigits]="0"></p-inputNumber>
    </div>
    <div class="col-4">
        <h6>Mô tả sản phẩm</h6>
        <textarea pInputTextarea [(ngModel)]="item.note" rows="1"></textarea>
    </div>
    <div class="col-4">
        <h6>Kích hoạt</h6>
        <p-checkbox [(ngModel)]="item.is_active" [binary]="true" inputId="binary"></p-checkbox>
    </div>
</div>
<div class="w-full flex flex-row justify-content-end align-items-end gap-3">
    <button pButton pRipple type="button" (click)="save()" label="Lưu" class="p-button-sm p-button-success w-1"></button>
    <button pButton pRipple type="button" label="Quay lại" style="min-width: 110px" class="p-button-warning p-button-sm"
        (click)="cancel()"></button>
</div>
<hr />
<p-table [value]="item.childs" styleClass="p-datatable-sm" responsiveLayout="scroll">
    <ng-template>
        <col style="width: 1%">
        <col>
        <col>
        <col>
        <col style="width: 1%">
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>#</th>
            <th>Sản phẩm</th>
            <th>Số lượng</th>
            <th>Ghi chú</th>
            <th></th>
        </tr>
        <tr>
            <th>#</th>
            <th>
                <p-dropdown [options]="products" [(ngModel)]="newItem.product_id" placeholder="Chọn sản phẩm"
                    [showClear]="true" filter="true" (onChange)="resetItemDetai(newItem)" appendTo="body"></p-dropdown>
            </th>
            <th>
                <p-inputNumber class="w-full" [(ngModel)]="newItem.product_quantity" mode="decimal"
                    placeholder="Số lượng" [minFractionDigits]="0"></p-inputNumber>
            </th>
            <th>
                <textarea pInputTextarea [(ngModel)]="newItem.note" rows="1"></textarea>
            </th>
            <th class="text-center">
                <i class="pi pi-plus" pTooltip="Thêm" tooltipPosition="bottom" [showDelay]="1000"
                    style="color: rgb(45, 191, 16)" (click)="add_listDetai()"></i>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
        <ng-container *ngIf="!item.is_delete">
            <tr>
                <th>{{i+1}}</th>
                <td>
                    <p-dropdown [options]="products" [(ngModel)]="item.product_id" placeholder="Chọn sản phẩm"
                        [showClear]="true" filter="true" (onChange)="resetItemDetai(item)" appendTo="body"></p-dropdown>
                </td>
                <td>
                    <p-inputNumber class="w-full" [(ngModel)]="item.product_quantity" mode="decimal" placeholder="Số lượng"
                        [minFractionDigits]="0"></p-inputNumber>
                </td>
                <td>
                    <textarea pInputTextarea [(ngModel)]="item.note" rows="1"></textarea>
                </td>
                <td class="text-center">
                    <!-- <button pButton pRipple type="button" icon="pi pi-save"
                        class="p-button-rounded p-button-info mr-1 p-button-sm" pTooltip="Lưu" tooltipPosition="bottom"
                        [showDelay]="1000" (click)="edit_listDetai(item)"></button> -->
                    <button pButton pRipple type="button" icon="pi pi-trash"
                        class="p-button-rounded p-button-danger mr-1 p-button-sm" pTooltip="Xoá" tooltipPosition="bottom"
                        [showDelay]="1000" (click)="delete_listDetai(item,i)"></button>
                </td>
            </tr>
        </ng-container>       
    </ng-template>
</p-table>