<ng-container *ngIf="!loading">
  <div class="flex flex-row justify-content-between">
    <h3>Danh sách hoàn hàng</h3>
    <div>
      <button
        pButton
        pRipple
        type="button"
        label="Xuất báo cáo"
        class="p-button-rounded p-button-sm"
        *appHasRole="['REFUND-list']"
        (click)="exportExcel()"
      ></button>
    </div>
  </div>
  <hr />
  <div class="flex flex-row">
    <div class="w-12 flex flex-row gap-5">
      <div class="row col-12">
        <!-- {{ filter | json }} -->
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
          <h6>Kho</h6>
          <p-dropdown
            [options]="listWarehouse"
            [(ngModel)]="filter.warehouse_id"
            (onChange)="getList(true)"
            placeholder="Chọn kho"
            [showClear]="true"
            [disabled]="disable"
          ></p-dropdown>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
          <h6>Từ ngày</h6>
          <p-calendar
            [(ngModel)]="filter.start_date"
            (onSelect)="getList(true)"
            [showIcon]="true"
          ></p-calendar>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
          <h6>Đến ngày</h6>
          <p-calendar
            [(ngModel)]="filter.end_date"
            (onSelect)="getList(true)"
            [showIcon]="true"
          ></p-calendar>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
          <h6>Từ khoá</h6>
          <input
            type="text"
            pInputText
            [(ngModel)]="filter.keyword"
            (keyup.enter)="getList(true)"
          />
        </div>
        <div class="wrap col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-4">
          <div
            class="flex flex-column justify-content-end"
            style="width: 110px; margin-right: 10px"
          >
            <button
              pButton
              pRipple
              type="button"
              label="Tìm kiếm"
              class="p-button-outlined p-button-rounded p-button-sm"
              (click)="getList(true)"
            ></button>
          </div>
          <div
            class="flex flex-column justify-content-end"
            style="width: 110px"
          >
            <button
              pButton
              pRipple
              type="button"
              label="Thêm mới"
              class="p-button-success p-button-sm"
              *appHasRole="['REFUND-create']"
              (click)="add()"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-3">
    <p-table
      responsiveLayout="scroll"
      [value]="items"
      styleClass="p-datatable-sm w-100"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="" style="width: 50px">STT</th>
          <th class="">Mã đơn hoàn</th>
          <th class="">Tên khách hàng</th>
          <th class="">Số điện thoại</th>
          <th class="">Tổng tiền hàng hoàn</th>
          <th class="">Tên người nhận</th>
          <th class="">Nội dung</th>
          <th class="">Thời gian hoàn</th>
          <th class="" style="width: 150px">Thao tác</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-i="rowIndex">
        <tr>
          <td class="text-center">
            {{ paging.pageSize * (paging.pageIndex - 1) + i + 1 }}
          </td>
          <td>{{ item.code }}</td>
          <td>{{ item.customer_name }}</td>
          <td class="text-center">{{ item.customer_phone }}</td>
          <td class="text-right">
            {{ item.product_total_cost | number: "0.0-0" }} đ
          </td>
          <td class="text-center">{{ item.staff_name }}</td>
          <td>{{ item.note }}</td>
          <td class="text-center">
            {{ item.dateAdded | date: "dd/MM/yyyy HH:mm" }}
          </td>
          <td class="text-center">
            <i
              style="color: rgb(26, 160, 222)"
              class="pi pi-eye mx-2"
              pTooltip="Chi tiết hoàn"
              tooltipPosition="bottom"
              *appHasRole="['REFUND-detail']"
              (click)="view(item.id)"
            ></i>
            <!-- <i
              *ngIf="item.status_id !== 0"
              class="pi pi-print"
              pTooltip="In hóa đơn trả"
              tooltipPosition="bottom"
              [showDelay]="1000"
              (click)="printRefund(item.id)"
            ></i> -->
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div class="row">
      <p-paginator
        #paginator
        [rows]="paging.pageSize"
        [totalRecords]="paging.TotalItems"
        (onPageChange)="getList(false, $event)"
      ></p-paginator>
    </div>
  </div>
  <table #export style="display: none">
    <thead>
      <tr>
        <th>STT</th>
        <th>Mã đơn hoàn</th>
        <th>Tên khách hàng</th>
        <th>Số điện thoại</th>
        <th>Tổng tiền hàng hoàn</th>
        <th>Tên người nhận</th>
        <th>Thời gian nhận</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of exportData; let i = index">
        <td>
          {{ i + 1 }}
        </td>
        <td>{{ item.code }}</td>
        <td>{{ item.customer_name }}</td>
        <td>{{ item.customer_phone }}</td>
        <td>{{ item.product_total_cost | number: "0.0-0" }} đ</td>
        <td>{{ item.staff_name }}</td>
        <td>{{ item.dateAdded | date: "dd/MM/yyyy HH:mm" }}</td>
      </tr>
    </tbody>
  </table>
</ng-container>

