<h3>Danh sách sản phẩm</h3>
<hr />
<div class="flex flex-row">
  <div class="row col-12">
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
      <h6>Từ khoá</h6>
      <input type="text" pInputText [(ngModel)]="filter.keyword" (keyup.enter)="getList(true)" />
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
      <h6>Ngành hàng</h6>
      <p-dropdown [options]="product_categories" [(ngModel)]="filter.category_code" (onChange)="selectStall()"
        placeholder="Chọn ngành hàng" [showClear]="true" filter="true"></p-dropdown>
    </div>  
    <div class="wrap col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-8">
      <div class="flex flex-column justify-content-end" style="width: 110px; margin-right: 10px;">
        <button pButton pRipple type="button" label="Tìm kiếm" class="p-button-outlined p-button-rounded p-button-sm"
          (click)="getList(true)"></button>
      </div>
      <div class="flex flex-column justify-content-end align-self-end" style="width: 110px;">
        <button pButton pRipple type="button" label="Thêm" class="p-button-success p-button-sm"
          (click)="create(0)"></button>
      </div>
    </div>
  </div>
</div>
<div class="pt-3">
  <p-table responsiveLayout="scroll" [value]="products" styleClass="p-datatable-sm w-100">
    <ng-template pTemplate="header">
      <tr>
        <th class="" style="width: 50px">STT</th>
        <th class="">Tên</th>
        <th class="">Mã barcode</th>
        <th class="">Ngành hàng</th>
        <th class="">Đơn vị</th>
        <th class="">Đóng gói</th>
        <th class="">Mô tả</th>
        <th class="" style="width: 100px">Thao tác</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-i="rowIndex">
      <tr>
        <td class="">{{ paging.pageSize * (paging.pageIndex - 1) + i + 1 }}</td>
        <td>{{ product.name }}</td>
        <td>
          {{ product.barcode }}
        </td>
        <td>{{ product.category_name }}</td>
        <td>{{ product.unit_code }}</td>
        <td>{{ product.packing_code }}</td>
        <td>{{ product.note }}</td>
        <td class="">
          <i class="pi pi-eye" tooltipPosition="bottom" [showDelay]="1000"
            style="color: rgb(26, 160, 222); margin-right: 10px" (click)="view(product.id)"></i>
          <i *appHasRole="['PRODUCT-product-modify']" style="color: rgb(36, 198, 11); margin-right: 10px"
            class="pi pi-pencil" (click)="edit(product.id)"></i>
          <i *appHasRole="['PRODUCT-product-delete']" class="pi pi-trash" pTooltip="Xoá" tooltipPosition="bottom"
            [showDelay]="1000" style="color: rgb(217, 37, 37); margin-right: 10px" (click)="delete(product)"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div class="row">
    <p-paginator #paginator [rows]="paging.pageSize" [totalRecords]="paging.TotalItems"
      (onPageChange)="getList(false, $event)"></p-paginator>
  </div>
</div>