<div class="row ">
  <div class="col-sm-12 col-md-6"><h3 class="mr-2">Phiếu xuất kho</h3></div>
  <div class="col-sm-12 col-md-6 flex flex-row justify-content-end">
    <button
      pButton
      pRipple
      type="button"
      label="Xuất trả NCC"
      class="p-button-success p-button-sm"
      *appHasRole="['WAREHOUSE-EXPORT-modify']"
      (click)="add(1)"
      style="min-width: 110px; margin-right: 10px"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      label="Xuất hủy"
      *appHasRole="['WAREHOUSE-EXPORT-modify']"
      class="p-button-success p-button-sm"
      (click)="add(2)"
      style="min-width: 110px; margin-right: 10px"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      label="Xuất luân chuyển"
      class="p-button-success p-button-sm"
      *appHasRole="['WAREHOUSE-EXPORT-modify']"
      (click)="add(3)"
      style="min-width: 110px"
    ></button>
  </div>
</div>
<hr />
<div class="flex flex-row">
  <div class="w-12 flex flex-row gap-5">
    <div class="row col-12">
      <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
        <h6>Kho</h6>
        <p-dropdown
          *ngIf="listWarehouse.length > 0"
          [options]="listWarehouse"
          [(ngModel)]="filter.warehouse_id"
          placeholder="Chọn kho"
          [showClear]="true"
          (onChange)="getList(true)"
          filter="true"
        ></p-dropdown>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
        <h6>Đối tác</h6>
        <p-dropdown
          [options]="listPartner"
          [(ngModel)]="filter.partner_id"
          placeholder="Chọn đối tác"
          [showClear]="true"
          (onChange)="getList(true)"
          filter="true"
        ></p-dropdown>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
        <h6>Trạng thái</h6>
        <p-dropdown
          [options]="listStatus"
          [(ngModel)]="filter.status_id"
          placeholder="Chọn trạng thái"
          [showClear]="true"
          (onChange)="getList(true)"
        ></p-dropdown>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
        <h6>Từ khoá</h6>
        <input
          type="text"
          pInputText
          [(ngModel)]="filter.keyword"
          (keyup.enter)="getList(true)"
        />
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
        <h6>Ngày bắt đầu</h6>
        <p-calendar [(ngModel)]="filter.start_date" [showIcon]="true" dateFormat="dd/mm/yy"
          (onSelect)="compareDate(filter.start_date,filter.end_date)" (keyup.enter)="getList(true)"></p-calendar>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
        <h6>Ngày kết thúc</h6>
        <p-calendar [(ngModel)]="filter.end_date" [showIcon]="true" dateFormat="dd/mm/yy"
          (onSelect)="compareDate(filter.start_date,filter.end_date)" (keyup.enter)="getList(true)"></p-calendar>
      </div>
      <div class="wrap col-lg-6 col-xxl-12">
        <div class="flex flex-column justify-content-end">
          <button
            style="min-width: 110px; margin-right: 10px"
            pButton
            pRipple
            type="button"
            label="Tìm kiếm"
            class="p-button-outlined p-button-rounded p-button-sm"
            (click)="getList(true)"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pt-3">
  <p-table
    responsiveLayout="scroll"
    [value]="items"
    styleClass="p-datatable-sm w-100"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 50px">STT</th>
        <th>Mã phiếu</th>
        <th>Loại phiếu</th>
        <th>Đối tác</th>
        <th>Kho xuất hàng</th>
        <th>Kho đến</th>
        <th>Tổng tiền xuất</th>
        <th>Ngày gửi</th>
        <th>Trạng thái</th>
        <th style="width: 100px">Thao tác</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
      <tr>
        <td class="text-center">
          {{ paging.pageSize * (paging.pageIndex - 1) + i + 1 }}
        </td>
        <td class="user-table-th-big">{{ item.code }}</td>
        <td class="user-table-th-big">
          {{
            item.type == 0
              ? "Xuất bán hàng"
              : item.type == 1
              ? "Xuất trả nhà cung cấp"
              : item.type == 2
              ? "Xuất kho hủy"
              : "Xuất kho smartgap"
          }}
        </td>
        <td class="user-table-th-big">
          {{ item.partner_name }}
        </td>
        <td class="user-table-th-big">{{ item.warehouse_name }}</td>
        <td class="user-table-th-big">{{ item.warehouse_destination_name }}</td>
        <td class="user-table-th-big">{{ item.total_amount | number }}</td>
        <td class="user-table-th-big">
          {{ item.export_date | date: "dd/MM/yyyy" }}
        </td>
        <td class="user-table-th-big">
          <span *ngIf="item.status_id === 2">Xuất kho</span>
          <span *ngIf="item.status_id === 1">Chờ xuất kho</span>
          <span *ngIf="item.status_id === 0">Chờ duyệt</span>
        </td>
        <td class="text-center">
          <ng-container *appHasRole="['WAREHOUSE-EXPORT-approve']">
            <i
              *ngIf="item.status_id === 0"
              class="pi pi-check"
              pTooltip="Duyệt phiếu xuất"
              tooltipPosition="bottom"
              [showDelay]="1000"
              style="color: rgb(26, 172, 48); margin-right: 10px"
              (click)="confirm(item)"
            ></i>
          </ng-container>
          <ng-container *appHasRole="['WAREHOUSE-EXPORT-approve']">
            <i
              *ngIf="item.status_id === 1"
              class="pi pi-arrow-up-right"
              pTooltip="Xác nhận xuất kho"
              tooltipPosition="bottom"
              [showDelay]="1000"
              style="color: rgb(26, 172, 48); margin-right: 10px"
              (click)="approve(item)"
            ></i>
          </ng-container>
          <ng-container *appHasRole="['WAREHOUSE-EXPORT-modify']">
            <i
              *ngIf="item.status_id === 0"
              class="pi pi-pencil"
              pTooltip="Chỉnh sửa phiếu"
              tooltipPosition="bottom"
              [showDelay]="1000"
              style="color: rgb(40, 122, 209); margin-right: 10px"
              (click)="edit(item)"
            ></i>
          </ng-container>
          <ng-container *appHasRole="['WAREHOUSE-EXPORT-detail']">
            <i
              *ngIf="item.status_id === 2"
              class="pi pi-eye"
              pTooltip="Chi tiết phiếu"
              tooltipPosition="bottom"
              [showDelay]="1000"
              style="color: rgb(52, 217, 37); margin-right: 10px"
              (click)="edit(item)"
            ></i>
          </ng-container>
          <ng-container *appHasRole="['WAREHOUSE-EXPORT-print']">
            <i
              *ngIf="item.status_id === 2 || item.status_id === 1"
              class="pi pi-print"
              pTooltip="In hóa đơn"
              tooltipPosition="bottom"
              [showDelay]="1000"
              (click)="printExport(item.id)"
            ></i>
          </ng-container>
          <!-- <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-sm" (click)="delete(item)"></button> -->
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div class="row">
    <p-paginator
      #paginator
      [rows]="paging.pageSize"
      [totalRecords]="paging.TotalItems"
      (onPageChange)="getList(false, $event)"
    ></p-paginator>
  </div>
</div>
<app-warehouse-export-print
  [modelPrint]="modelPrint"
></app-warehouse-export-print>
