<svg class="barcode" jsbarcode-format="ean13" [attr.jsbarcode-value]="qr_code_image" [attr.jsbarcode-text]="qr_code" jsbarcode-fontSize="2" jsbarcode-width="2"
jsbarcode-height="20" jsbarcode-displayValue="false"></svg>
<!-- <svg class="barcode"
  jsbarcode-format="EAN"
  jsbarcode-value="123456789012"
  jsbarcode-textmargin="0"
  jsbarcode-fontoptions="bold">
</svg> -->
<!-- <div>

    <svg class="barcode"
      jsbarcode-format="ean13"
      jsbarcode-value="123456789012"
      jsbarcode-displayValue="false" 
      jsbarcode-textmargin="0"
      jsbarcode-fontoptions="bold">
    </svg>
</div> -->