<h3>Quản lý đơn vị tính</h3>
<hr />
<div class="flex flex-row gap-5 justify-content-center">
  <form
    [formGroup]="formSearch"
    class="w-full flex flex-wrap justify-content-between align-items-end row"
  >
    <div
      class="units-search col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2 flex flex-column"
    >
      <h6>Tên đơn vị tính</h6>
      <input
        pInputText
        formControlName="search"
        type="text"
        placeholder="Nhập tìm kiếm ..."
        id="example-search-input"
        (keyup.enter)="getList()"
      />
    </div>

    <div
      class="col-lg-8 col-md-12 col-sm-12 col-xs-12 flex justify-content-end"
    >
      <button
        pButton
        pRipple
        type="button"
        label="Tìm kiếm"
        (click)="getList()"
        class="p-button-outlined p-button-rounded p-button-sm"
        style="width: 6rem"
      ></button>
    </div>
  </form>
</div>
<div
  class="flex flex-row gap-5 justify-content-between align-items-center pt-3"
>
  <div>
    <h5 class="m-0" style="font-size: 1.1rem">Danh sách đơn vị tính</h5>
  </div>
  <div style="padding-right: 0.6rem">
    <button
      pButton
      pRipple
      type="button"
      label="Thêm"
      class="p-button-sm p-button-success"
      (click)="openCreateUnitsModal(null, 0)"
      style="width: 6rem"
    ></button>
  </div>
</div>

<div class="units-table pt-1">
  <p-table
    responsiveLayout="scroll"
    [value]="categoryUnits"
    styleClass="p-datatable-sm w-100"
  >
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">STT</th>
        <th class="unit-table-mobile-th" scope="col" sortable="name">
          Tên đơn vị tính
        </th>
        <th class="unit-table-mobile-th" scope="col" sortable="area">
          Mã đơn vị tính
        </th>
        <th class="unit-table-mobile-th-sm" scope="col" sortable="area">
          Sắp xếp
        </th>
        <th class="unit-table-mobile-th-sm" scope="col" sortable="area">
          Trạng thái
        </th>
        <th class="unit-table-mobile-th-sm" scope="col">Hành động</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
      <tr>
        <td scope="">{{ stt + (i + 1) }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.code }}</td>
        <td>{{ item.order }}</td>
        <td>
          <p style="margin: 0" *ngIf="item.status_id == 0">Chưa duyệt</p>
          <p style="margin: 0" *ngIf="item.status_id == 1">Đã duyệt</p>
        </td>

        <td _ngcontent-qnv-c278="" class="text-truncate">
          <i
            class="pi pi-pencil"
            pTooltip="Chỉnh sửa phiếu"
            tooltipPosition="bottom"
            [showDelay]="1000"
            style="color: rgb(40, 122, 209); margin-right: 10px"
            (click)="openCreateUnitsModal(item, indexOfelement)"
          ></i>
          <i
            class="pi pi-trash"
            pTooltip="Xoá"
            tooltipPosition="bottom"
            [showDelay]="1000"
            style="color: rgb(217, 37, 37); margin-right: 10px"
            (click)="deleteCategoryUnits(item.id)"
          ></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div class="row">
    <pagination
      [totalItems]="totalRows"
      [maxSize]="5"
      [itemsPerPage]="page_size"
      class="pagination-sm"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
      [boundaryLinks]="true"
      (pageChanged)="onChangedPage($event)"
      class="pull-right center"
      style="margin-top: 10px"
    ></pagination>
  </div>
</div>
