
<div class="modal-content">
  <form [formGroup]="formGroupCreate" novalidate autocomplete="off">
    <div class="modal-header">
      <h5 class="modal-title">
        <span>Thay đổi mật khẩu người dùng</span>
      </h5>
      <button type="button" class="close" (click)="close()" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="form-group">
        <label class="form-label" for="Admin_password">Nhập mật khẩu cũ</label>
        <input type="password" formControlName="passwordOld" class="form-control" placeholder="Nhập mật khẩu">
      </div>

      <div class="form-group">
        <label class="form-label" for="Admin_password">Nhập mật khẩu mới</label>
        <input type="password" formControlName="passwordNew" class="form-control" placeholder="Nhập mật khẩu">
      </div>

      <div class="form-group">
        <label class="form-label" for="Admin_pass_code">Xác nhận mật khẩu</label>
        <input type="password" [(ngModel)]="confirmPassword.value" [ngModelOptions]="{standalone: true}"
        class="form-control" placeholder="Xác nhận mật khẩu">
        <div *ngIf="confirmPassword.error == true">
          <small  style="color: red" style="color: red">Mật khẩu không khớp!</small>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default " (click)="close()">
        Bỏ qua
      </button>
      <button type="submit" class="btn btn-primary btn-smartgap" (click)="save()">
        <i class="fa fa-save"></i>
        <span>Lưu</span>
      </button>
    </div>
  </form>
</div>
