<div class="modal-content">
  <form [formGroup]="formGroupCreate" novalidate autocomplete="off">
    <div class="modal-header">
      <h5 class="modal-title">
        <span *ngIf="isCreate">Tạo mới nhóm</span>
        <span *ngIf="!isCreate">Sửa nhóm</span>
      </h5>
      <button type="button" class="close" (click)="close()" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label class="form-label" for="CategoryProduct_Name">Tên nhóm</label>
        <input type="text" formControlName="name" class="form-control" placeholder="Tên nhóm" [ngClass]="{
            'is-invalid': formSubmitted && lf['name'].invalid,
            'is-valid': formSubmitted && !lf['name'].invalid
          }" autofocus required />
        <div *ngIf="formSubmitted">
          <small *ngIf="formGroupCreate.get('name').errors?.required" class="text-error">Tên nhóm không được rỗng
            !</small>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" for="CategoryProduct_Code">Mã nhóm</label>
        <input type="text" formControlName="code" class="form-control" placeholder="Mã nhóm" [ngClass]="{
          'is-invalid': formSubmitted && lf['code'].invalid,
          'is-valid': formSubmitted && !lf['code'].invalid
        }" autofocus required />
        <div *ngIf="formSubmitted">
          <small *ngIf="formGroupCreate.get('code').errors?.required" class="text-error">Mã gian hàng không được rỗng
            !</small>
        </div>
      </div>
      <div *ngIf="!itemDetail">
        <div class="form-group">
          <label class="form-label" for="CategoryProduct_Order">Mã ngành hàng</label>
          <select name="category_id" id="category_id" formControlName="category_id" class="form-control" placeholder="Mã ngành hàng"
            [ngClass]="{
              'is-invalid': formSubmitted && lf['category_id'].invalid,
              'is-valid': formSubmitted && !lf['category_id'].invalid
            }" required  (change)="selectStall()">
            <option disabled>Mã ngành hàng</option>
            <option *ngFor="let s of product_categories" [ngValue]="s.id">
              {{ s.name }}
            </option>
          </select>
          <div *ngIf="formSubmitted">
            <small *ngIf="formGroupCreate.get('category_id').errors?.required" class="text-error">Chọn mã ngành hàng
              !</small>
          </div>
        </div>
  
        <div class="form-group">
          <label class="form-label" for="CategoryProduct_Order">Mã gian hàng</label>
          <select name="stalls_id" id="stalls_id" formControlName="stalls_id" class="form-control" placeholder="Mã ngành hàng"
            [ngClass]="{
              'is-invalid': formSubmitted && lf['stalls_id'].invalid,
              'is-valid': formSubmitted && !lf['stalls_id'].invalid
            }" required>
            <option disabled>Mã ngành hàng</option>
            <option *ngFor="let s of product_stalls" [ngValue]="s.id">
              {{ s.name }}
            </option>
          </select>
          <div *ngIf="formSubmitted">
            <small *ngIf="formGroupCreate.get('stalls_id').errors?.required" class="text-error">Chọn mã gian hàng
              !</small>
          </div>
        </div>
  
      </div>      
      <div class="form-group">
        <label class="form-label" for="CategoryProduct_Code">Ghi chú</label>
        <input type="text" formControlName="note" class="form-control" placeholder="Ghi chú" />
      </div>     
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="close()">
        Bỏ qua
      </button>
      <button type="submit" class="btn btn-primary btn-smartgap" (click)="save()">
        <i class="fa fa-save"></i>
        <span>Lưu</span>
      </button>
    </div>
  </form>
</div>